:root {

    --Main: #CEDCF4;
    --Main2: #E0EBA5;
    --Main3: #FFEBB2;
    --Main4: #E0D9FA;

    --Color: #1C1C1C;
    --Color2:#738801;
    --Color3:#FFBA00;
    --Color4:#8B81B3;

    
    --BodyBackground:#fefcfc;
}
